* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: justify;
}
.container {
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
li {
  list-style: none;
}
.list-items {
  margin: 10px;
  padding: 10px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
